# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [8]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [9]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
last_three_a = a[3:]
print(last_three_a)

[4, 5, 6]

In [10]:
# create a list of numbers from 1 to 20
one_to_20 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(one_to_20)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [12]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
one_hundred = list(range(1, 101))
print(one_hundred)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [2]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def two_num_arg(a,b):
    c = a / b
    return c

a = 10
b = 20

two_num_arg(a,b)

0.5

In [3]:
# write a function that takes a string as input
# and return that string in all caps

def string_input(string_var):
    return string_var.upper()

string_var = "It's great to be a Michigan Wolverine!"
string_input(string_var)

"IT'S GREAT TO BE A MICHIGAN WOLVERINE!"

In [28]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
list_30 = list(range(1,31))
print(list_30)

# if the number is a multiple of 3, print fizz
for x in list_30:
    if(x % 3 == 0):
        print("fizz")
    else:
        print(x)
print(" ")

# if the number is a multiple of 5, print buzz
for x in list_30:
    if(x % 5 == 0):
        print("buzz")
    else:
        print(x)

print(" ")

# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
for x in list_30:
    if((x % 3 == 0) & (x % 5 == 0)):
        print("fizzbuzz")
    else:
        print(x)


# if the number is neither a multiple of 3 nor a multiple of 5, print the number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
1
2
fizz
4
5
fizz
7
8
fizz
10
11
fizz
13
14
fizz
16
17
fizz
19
20
fizz
22
23
fizz
25
26
fizz
28
29
fizz

1
2
3
4
buzz
6
7
8
9
buzz
11
12
13
14
buzz
16
17
18
19
buzz
21
22
23
24
buzz
26
27
28
29
buzz

1
2
3
4
5
6
7
8
9
10
11
12
13
14
fizzbuzz
16
17
18
19
20
21
22
23
24
25
26
27
28
29
fizzbuzz

In [2]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
menu_prices = { 'Gyro':9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

#prints out keys in menu prices
print(menu_prices.keys())

print(menu_prices)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

dict_keys(['Gyro', 'Burger', 'Greek Salad', 'Philly Steak'])
{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [20]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
starbucks_df = pd.read_csv("../data/starbucks.csv")

In [30]:
# output the calories, sugars, and protein columns only of every 40th row. 
selected_columns = starbucks_df[['calories','sugars','protein']]
print(selected_columns.iloc[::40, :])

     calories  sugars  protein
0           3       0      0.3
40          5       0      0.4
80        350      58     15.0
120       140      20      6.0
160       110      24      2.0
200       200      41      3.0
240       180      35      3.0

In [34]:
# select all rows with more than and including 400 calories
more_than_400 = starbucks_df[starbucks_df['calories'] >= 400]

In [38]:
# select all rows whose vitamin c content is higher than the iron content
higher_vit_c = starbucks_df[starbucks_df['vitamin c'] > starbucks_df['iron']]
higher_vit_c.head()

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
11,classic espresso drinks,caff latte,2% Milk,190,7.0,3.5,0.2,30,170,19,0,17,12.0,20,2,40,0.0,150.0
14,classic espresso drinks,caff latte,2% Milk,240,9.0,4.5,0.3,35,220,24,0,22,16.0,25,2,50,0.0,150.0
35,classic espresso drinks,vanilla latte (or other flavoured latte),2% Milk,250,6.0,3.5,0.2,25,150,37,0,35,12.0,20,2,35,0.0,150.0
38,classic espresso drinks,vanilla latte (or other flavoured latte),2% Milk,320,9.0,4.5,0.3,35,200,46,0,44,15.0,25,2,45,0.0,150.0
69,signature espresso drinks,caramel macchiato,2% Milk,240,7.0,3.5,0.2,25,150,34,0,32,10.0,15,2,30,0.0,150.0

In [45]:
# create a new column containing the caffeine per calories of each drink
starbucks_df['caffeine_p_cal'] = starbucks_df['caffeine'] / starbucks_df['calories']
starbucks_df.head()

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine,caffeine_p_cal
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0,58.333333
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0,65.000000
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0,66.000000
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0,82.000000
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0,1.071429

In [47]:
# what is the average calorie across all items?
starbucks_df['calories'].mean()

193.87190082644628

In [48]:
# how many different categories of beverages are there?
starbucks_df.nunique()
#9 different categories for beverage_category variable

beverage_category        9
beverage                33
beverage_prep           13
calories                48
total fat               24
trans fat               18
saturated fat            4
sodium                   9
total carbohydrates     51
cholesterol             75
dietary fibre            8
sugars                  70
protein                 26
vitamin a               11
vitamin c               10
calcium                 14
iron                    13
caffeine                35
caffeine_p_cal         138
dtype: int64

In [ ]:
# what is the average # calories for each beverage category?